<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <title>Enrolee</title>
  </head>
  <header class="dash_header">
    <h3 class="header_title">Enrolee</h3>
    <input
      type="text"
      id="search_box"
      placeholder="Search"
      class="search_bar_header"
    />
    <div btns_header>
      <button class="btn_header btn_create_event">
        <a href="/new/event">Create Your Event</a>
      </button>
      <button class="btn_header">
        <div class="dropdown">
          <div class="dropdown_select">
            <span class="select">My Profile</span>
            <i class="uil uil-angle-down"></i>
          </div>
          <div class="dropdown_list">
            <div class="dropdown_list_item">
              <a href="/config">Configuration</a>
            </div>
            <div class="dropdown_list_item"><a href="/logout">Log Out</a></div>
          </div>
        </div>
      </button>
    </div>
  </header>
  <body class="success_body">
    <div class="success">
      <h1>Hey {{user.first_name}} You have successfully created your event</h1>
      <h2>Look at the events you have created:</h2>

      <h3>title:</h3>
      <p>{{event.title}}</p>
      <div>
        <img
          src="{{url_for('static', filename='img/'+event.image)}}"
          alt="cover photo of the event"
          style="width: 150px; height: 100px"
        />
      </div>
      <h3>Description:</h3>
      <p>{{event.description}}</p>
      <h3>Date</h3>
      <p>{{event.date}}</p>
      <h3>Time</h3>
      <p>{{event.time}}</p>
      <h3>Cost</h3>
      <p>{{event.cost}}</p>
    </div>
    <div>
      <h4><a href="/dashboard">Home</a></h4>
    </div>
    <!-- =======FOOTER=========== -->
    <footer class="footer">
      <div class="container_footer">
        <div class="foot1">
          <h3>Welcome Here</h3>
          <p class="welcome_footer">
            Hi, this website has been designed by me, Lino Cruz, as a part of my
            portfolio projects, for more info, visit my website at
            <a href="https://linocruz.github.io/my_web_page/" class="myweb"
              >linocruz.com</a
            >
          </p>
        </div>
        <div class="foot2">
          <h3>About the site</h3>
          <p class="description_footer">
            This site has been develop with HTML, CSS, JAVASCRIPT, several
            plugins, and in the Backend, works with Python, Flask, Flash and
            MySQL.<a
              href="https://github.com/LinoCruz/enrolee"
              class="code_footer"
            >
              Look the code here</a
            >.
          </p>
        </div>
        <div class="foot3">
          <h3>Let's connect on</h3>
          <ul class="ul_sm">
            <li>
              <i class="uil uil-linkedin"></i
              ><a href="https://www.linkedin.com/in/lino-cruz-519597234/"
                >Linkedin</a
              >
            </li>
            <li>
              <i class="uil uil-github"></i
              ><a href="https://github.com/LinoCruz">GitHub</a>
            </li>
            <li>
              <i class="uil uil-youtube"></i
              ><a
                href="https://www.youtube.com/channel/UCB_YFjDFb9vZ7QcarxmjGPw"
                >Youtube</a
              >
            </li>
            <li>
              <i class="uil uil-discord"></i
              ><a href="https://discord.gg/nvp8TfRK8h">Discord</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="final_footer">
        <p>All rigths reserved <i class="uil uil-copyright"></i> 2022</p>
      </div>
    </footer>
  </body>
</html>
